<a href="https://colab.research.google.com/github/oseghr/MachineLearning/blob/main/pandasTutrials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.5.3

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [12]:
print(myvar["cars"][0])

BMW

In [16]:
a = [1, 7, 2]

calories = {"day1": 420, "day2": 380, "day3": 390}

test = pd.Series(calories, index = ["day1", "day2"])

print(test)

day1    420
day2    380
dtype: int64